[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hvac = "*"
matplotlib = "*"
pandas = "*"
playwright = "==1.51.0"
requests = "*"
sentry-sdk = "*"

[dev-packages]

[requires]
python_version = "3.12"
